In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from time import time
from datetime import datetime, date
import os

In [2]:
os.chdir(r'N:\ALGORITHMIC MARKETING\ASSIGNMENTS\ADM_Assignment2')

In [3]:
df_oct = pd.read_csv('2019_Oct_Sales.csv')

In [4]:
df_nov = pd.read_csv('2019_Nov_Sales.csv')

In [5]:
df_sales = pd.concat([df_oct, df_nov], ignore_index=True)
df_sales.head(10)

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
1,4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d
2,5,2019-10-01 00:00:05 UTC,view,1480613,2053013561092866779,computers.desktop,pulser,908.62,512742880,0d0d91c2-c9c2-4e81-90a5-86594dec0db9
3,9,2019-10-01 00:00:11 UTC,view,1004545,2053013555631882655,electronics.smartphone,huawei,566.01,537918940,406c46ed-90a4-4787-a43b-59a410c1a5fb
4,10,2019-10-01 00:00:11 UTC,view,2900536,2053013554776244595,appliances.kitchen.microwave,elenberg,51.46,555158050,b5bdd0b3-4ca2-4c55-939e-9ce44bb50abd
5,11,2019-10-01 00:00:11 UTC,view,1005011,2053013555631882655,electronics.smartphone,samsung,900.64,530282093,50a293fb-5940-41b2-baf3-17af0e812101
6,12,2019-10-01 00:00:13 UTC,view,3900746,2053013552326770905,appliances.environment.water_heater,haier,102.38,555444559,98b88fa0-d8fa-4b9d-8a71-3dd403afab85
7,14,2019-10-01 00:00:16 UTC,view,13500240,2053013557099889147,furniture.bedroom.bed,brw,93.18,555446365,7f0062d8-ead0-4e0a-96f6-43a0b79a2fc4
8,16,2019-10-01 00:00:18 UTC,view,1801995,2053013554415534427,electronics.video.tv,haier,193.03,537192226,e3151795-c355-4efa-acf6-e1fe1bebeee5
9,17,2019-10-01 00:00:18 UTC,view,10900029,2053013555069845885,appliances.kitchen.mixer,bosch,58.95,519528062,901b9e3c-3f8f-4147-a442-c25d5c5ed332

In [6]:
df_sales['user_session'] = df_sales['user_session'].astype('category').cat.codes.astype('category')
df_sales['user_id'] = df_sales['user_id'].astype('category').cat.codes.astype('category')
df_sales['product_id'] = df_sales['product_id'].astype('category').cat.codes.astype('category')
df_sales['category_id'] = df_sales['category_id'].astype('category').cat.codes.astype('category')

In [7]:
df_sales.to_csv('Oct_Nov_2019_Sales.csv')

In [9]:
df_sales = df_sales.drop(labels=['Unnamed: 0'], axis=1)

In [10]:
#looking at only the cases where purchases were made
purchases = df_sales[df_sales.event_type.eq('purchase')]
purchases

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
108,2019-10-01 00:02:14 UTC,purchase,707,71,electronics.smartphone,samsung,130.76,1718472,7626956
198,2019-10-01 00:04:37 UTC,purchase,33,71,electronics.smartphone,apple,642.69,2086519,3560722
237,2019-10-01 00:06:02 UTC,purchase,11188,27,electronics.smartphone,xiaomi,29.51,345621,844348
353,2019-10-01 00:09:26 UTC,purchase,10565,50,electronics.audio.headphone,apple,189.91,1064662,2528740
369,2019-10-01 00:09:54 UTC,purchase,10566,50,electronics.audio.headphone,apple,161.98,2086519,3560722
...,...,...,...,...,...,...,...,...,...
60513403,2019-11-30 23:57:30 UTC,purchase,721,71,electronics.smartphone,samsung,346.70,1926408,6678858
60513444,2019-11-30 23:58:08 UTC,purchase,639,71,electronics.smartphone,samsung,235.60,3845106,7980833
60513451,2019-11-30 23:58:14 UTC,purchase,721,71,electronics.smartphone,samsung,346.70,1926408,6678858
60513459,2019-11-30 23:58:22 UTC,purchase,886,71,electronics.smartphone,apple,1437.02,461414,7690857
60513500,2019-11-30 23:58:57 UTC,purchase,639,71,electronics.smartphone,samsung,235.60,4061166,11906817

In [11]:
top_brands = purchases.groupby('brand')['price'].sum()
top_brands = top_brands.sort_values(ascending= False)
top_brands = top_brands[:50]

In [12]:
top_brands.keys()

Index(['apple', 'samsung', 'xiaomi', 'huawei', 'lg', 'acer', 'sony', 'oppo',
       'lenovo', 'bosch', 'artel', 'asus', 'hp', 'indesit', 'haier', 'beko',
       'dauscher', 'philips', 'canon', 'vivo', 'midea', 'janome', 'tefal',
       'kivi', 'oneplus', 'pulser', 'starline', 'epson', 'redmond', 'karcher',
       'hansa', 'sv', 'stels', 'casio', 'tcl', 'atlant', 'respect', 'force',
       'meizu', 'brw', 'ariston', 'msi', 'bts', 'yamaha', 'vitek', 'thomas',
       'nokia', 'braun', 'arg', 'huter'],
      dtype='object', name='brand')

In [13]:
df_sales_ = df_sales[df_sales.brand.isin(top_brands.keys())]
df_sales_.shape

(58053597, 9)

In [14]:
df_sales_.groupby('brand')['price'].sum()

brand
acer        6.975663e+08
apple       8.602255e+09
arg         1.993016e+07
ariston     2.576695e+07
artel       1.762859e+08
asus        4.276749e+08
atlant      6.142214e+07
beko        1.343392e+08
bosch       4.131495e+08
braun       3.270667e+07
brw         1.257247e+08
bts         8.045224e+07
canon       1.144046e+08
casio       8.213690e+07
dauscher    1.589120e+08
epson       4.383011e+07
force       4.923874e+07
haier       1.512833e+08
hansa       7.806509e+07
hp          4.014933e+08
huawei      6.662290e+08
huter       4.146360e+07
indesit     1.863360e+08
janome      8.577393e+07
karcher     7.509053e+07
kivi        3.919002e+07
lenovo      5.886465e+08
lg          7.701197e+08
meizu       5.752752e+07
midea       8.447226e+07
msi         8.880784e+07
nokia       5.116403e+07
oneplus     1.200065e+08
oppo        3.921086e+08
philips     1.221784e+08
pulser      1.532968e+08
redmond     6.022658e+07
respect     8.310492e+07
samsung     4.554526e+09
sony        5.442812e+08
starline    5.276223e+07
stels       4.460575e+07
sv          1.296726e+08
tcl         3.682536e+07
tefal       6.780419e+07
thomas      3.925735e+07
vitek       3.023370e+07
vivo        8.071654e+07
xiaomi      1.563201e+09
yamaha      5.062436e+07
Name: price, dtype: float64

In [15]:
df_sales_.isnull().sum()

event_time       0
event_type       0
product_id       0
category_id      0
category_code    0
brand            0
price            0
user_id          0
user_session     0
dtype: int64

In [16]:
df_sales_.head(10)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:01 UTC,view,2185,115,computers.notebook,lenovo,251.74,2031108,7333842
1,2019-10-01 00:00:04 UTC,view,436,71,electronics.smartphone,apple,1081.98,1427921,11695938
2,2019-10-01 00:00:05 UTC,view,2974,146,computers.desktop,pulser,908.62,89943,766938
3,2019-10-01 00:00:11 UTC,view,556,71,electronics.smartphone,huawei,566.01,1500772,3791139
5,2019-10-01 00:00:11 UTC,view,809,71,electronics.smartphone,samsung,900.64,1253208,4746051
6,2019-10-01 00:00:13 UTC,view,8398,3,appliances.environment.water_heater,haier,102.38,2282109,8990665
7,2019-10-01 00:00:16 UTC,view,16897,88,furniture.bedroom.bed,brw,93.18,2282136,7477702
8,2019-10-01 00:00:18 UTC,view,4199,43,electronics.video.tv,haier,193.03,1475104,13364495
9,2019-10-01 00:00:18 UTC,view,14291,59,appliances.kitchen.mixer,bosch,58.95,824865,8484880
10,2019-10-01 00:00:19 UTC,view,1848,115,computers.notebook,hp,580.89,2031108,7333842

In [17]:
df_sales_['user_session'] = df_sales_['user_session'].astype('category').cat.codes.astype('category')
df_sales_['user_id'] = df_sales_['user_id'].astype('category').cat.codes.astype('category')
df_sales_['product_id'] = df_sales_['product_id'].astype('category').cat.codes.astype('category')
df_sales_['category_id'] = df_sales_['category_id'].astype('category').cat.codes.astype('category')

C:\Users\nikhi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\nikhi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\nikhi\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\nikhi\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [18]:
df_sales_.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:01 UTC,view,2185,115,computers.notebook,lenovo,251.74,2031108,7333842
1,2019-10-01 00:00:04 UTC,view,436,71,electronics.smartphone,apple,1081.98,1427921,11695938
2,2019-10-01 00:00:05 UTC,view,2974,146,computers.desktop,pulser,908.62,89943,766938
3,2019-10-01 00:00:11 UTC,view,556,71,electronics.smartphone,huawei,566.01,1500772,3791139
5,2019-10-01 00:00:11 UTC,view,809,71,electronics.smartphone,samsung,900.64,1253208,4746051

In [19]:
df_sales_.to_csv('2019_Sales_Behavior.csv')

In [20]:
len(df_sales.brand.unique())

85

In [28]:
df_sales = pd.read_csv('2019_Sales_Behavior.csv')

In [29]:
df_sales.event_type.value_counts()

view        54111506
cart         2798202
purchase     1143889
Name: event_type, dtype: int64

In [30]:
purchase = df_sales[df_sales.event_type.eq('purchase')]
purchase = purchase[:15000]

In [31]:
cart = df_sales[df_sales.event_type.eq('cart')]
cart = cart[:15000]

In [32]:
df_sales_ = df_sales.sample(n= 200000, random_state=41)

In [34]:
df_sales_trifacta = pd.concat([df_sales_, purchase, cart], ignore_index=True)

In [35]:
df_sales_trifacta.event_type.value_counts()

view        186464
cart         24532
purchase     19004
Name: event_type, dtype: int64

In [36]:
df_sales_trifacta.to_csv('2019_Ecomm_Sales_Behavior.csv')